
html,body{
  background-color: #1a1a1a;

}

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color:white;
}
ul{
  list-style-type: none;
}

.logo-container{
  display:inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

}

.log-in, .register{
  display:flex;
  flex-direction: column;
  box-shadow:0 13px 20px #000;
  border-radius: 7px;
  background-color: #303030;
  color:white;
  width:400px;
  padding:15px;
}

.greeting-page-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  width: 100%;
  background-color: #1a1a1a;
}

.log-in-frame, .register-frame{
  background-color: #1a1a1a;
  margin: auto;
}
input[type="email"],input[type="password"], input[type="text"]{
  background-color: #363636;
  border: 1px solid #535353;
  outline:none;
  border-radius:5px;
  color:white;
  width:100%;
  font-size: 13px;
  height:35px;
}

input[type="number"]{
  background-color: #363636;
  border: 1px solid #535353;
  outline:none;
  border-radius:5px;
  color:white;
}

.login-info, .register-info{
  font-size: 13px;
  width:100%;
  display: flex;
  justify-content: flex-start;
}

.log-in-button,.register-button{
  font-size: 13px;
  background-color: #297ed3;
  width: 100%;
  border-radius:5px;
  height:35px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.log-in-button:hover,.register-button:hover{
  cursor: pointer;
  
}

.log-in-button:active,.register-button:active{
  background-color: #1f63a6;
  
}

#error{
  font-size: 13px;
  color:rgb(192, 36, 36);
}

.register-container,.login-container{
  font-size: 13px;
  width:100%;
  display: flex;
  justify-content: flex-start;
  color:rgb(136, 136, 136)
}

#register-link, #login-link{
  color:white;
  text-decoration: none;
}

#log-in-banner, #register-banner{
  font-size: 25px;
  font-weight: 500;
}

#log-in-welcome{
  font-size: 13px;
  color:rgb(136, 136, 136)
}

.logo-container{
  display:inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin:20px;
  position: relative;
}

.logo-container:hover{
  cursor: pointer;
}

img{
  -webkit-filter:drop-shadow(5px 15px 5px #000);
  filter: drop-shadow(5px 15px 5px rgb(0, 0, 0));
  height:20px;
}

.profile-page-container{
  background-color: #1a1a1a;
}

#comment-box{
  resize: both;
  max-width: 53.5%;
}

.exercises{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding:20px;
}

.exercise-label-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:100%;
  margin-bottom: 10px;
}

input[class="exer-inp"]{
  width:50%;
  margin-left:10px;
}

.exercise-specs{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#profile-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:20px;
  align-items:center;
  text-transform: uppercase;
}

#email-nav{
  margin-left: auto;
  margin-bottom:auto;
  margin-top:auto;
  margin-right:10px;
}

.delete-exercise{
  color:rgb(192, 36, 36);
}

.delete-exercise:active{
  color:rgb(146, 28, 28);
}

.delete-exercise:hover,#add-exer-button:hover,#del-exer-button:hover{
  cursor: pointer;
}

.sign-out{
  font-size: 13px;
  background-color: #e02323;
  border-radius:3px;
  padding:0 5px 0 5px;
}

.sign-out:hover{
  cursor: pointer;
}

.sign-out:active{
  background-color:rgb(146, 28, 28);
}

#add-exer-button, #del-exer-button{
  display: inline;
  
  padding:5px;
  border-radius:5px;
}

#add-exer-button{
  background-color: rgb(85,217,124);
}

#del-exer-button{
  background-color: rgb(230,60,79);
}

#del-exer-button:active{
  background-color: rgb(173,43,58);
}

#add-exer-button:active{
  background-color: rgb(58,156,87);
}

.date-picker{
  background-color: #363636;
  border: 1px solid #535353;
  outline:none;
  border-radius:5px;
  color:white;
  margin-left:5px;
}

.exer-spec{
  margin-left:10px;
}

#save-button{
  background-color: #297ed3;
  border-radius:5px;
  color:white;
  display: inline;
  padding:5px;
}

#save-button:hover{
  cursor: pointer;
}

#save-button:active{
  background-color: #1f63a6;
}

#comment-box{
  background-color: #363636;
  border: 1px solid #535353;
  border-radius:5px;
  color:white;
}

#profile-logo:hover{
  cursor: pointer;
}

#confirmation{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top:20px;
}

#confirm-del{
  background-color: rgb(85,217,124);
  padding:0 5px 0 5px;
  border-radius:5px;
}

#reject-del{
  margin-left:50px;
  background-color: rgb(230,60,79);
  padding:0 5px 0 5px;
  border-radius:5px;
}

#confirm-del:hover,#reject-del:hover{
  cursor: pointer;
}

#confirm-del:active{
  background-color: rgb(58,156,87);
}

#reject-del:active{
  background-color: rgb(173,43,58);
}

@media (max-width: 500px){
  .logo-container{
    align-self: flex-start;
  }

  .log-in-frame, .register-frame{
    padding-left: 5px;
    padding-right: 5px;
  }  
}

